src/app/(admin)/workflow/n8n-workflow/Chatbot.json
{
  "name": "Chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "83364ba9-49ed-45f0-bc7a-3213c35b8b86",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        380,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "xA2mQudGesRwx2LS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1e9abcf-f641-45b9-98df-c834e1a052df",
              "name": "chatInput",
              "value": "={{ $json[\"body\"][\"chatInput\"] }}",
              "type": "string"
            },
            {
              "id": "86955101-fe97-4a9e-a9e8-18f0cd62cc7f",
              "name": "sessionId",
              "value": "={{ $json[\"body\"][\"sessionId\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c6b31581-8338-48a9-81fc-e16e3eb0bf0a",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        100
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "0c017760-97ee-4818-8da1-117c9fa5646f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "e104e40e-6134-4825-a6f0-8a646d882662"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "id": "81abaf44-3369-4503-990f-1dfd940f00d6",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        480,
        100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        780,
        520
      ],
      "id": "1fbe3831-0d17-4f64-a6f8-7c150b1cad30",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "xA2mQudGesRwx2LS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_knowledge_base",
        "toolDescription": "Retrieve context from our internal document store in Pinecone for answering user queries.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nchatbot",
          "mode": "list",
          "cachedResultName": "n8nchatbot"
        },
        "options": {
          "pineconeNamespace": "Knowledge room"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        680,
        340
      ],
      "id": "723bfc82-1a04-48db-8143-265d09000d8d",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "La8mAtGrYW3peMGY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=chats",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "id": "4d22e544-c90b-42c1-ae3e-119a3a1c99f9",
      "name": "Webhook1",
      "webhookId": "5b15f90d-fff7-4515-b5fc-62af59c2f3c1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1060,
        100
      ],
      "id": "1783c9b8-e6bf-4962-8649-07e5c3b8d967",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        320
      ],
      "id": "320ddb0f-c62e-41c8-b3f3-a31e9f1148e6",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00ed581d-181b-48da-96d3-47e036b0849a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ac40ea2baf3062b980bcb9d53a1d3812f4b06c28a7bf0b095d8ed7e32116e1a"
  },
  "id": "fkbmXTiqLA67aV4V",
  "tags": []
}