src/app/(admin)/workflow/n8n-workflow/Rag.json
{
  "name": "Rag",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "1595b402-7e5e-4124-8497-e4cd28a2e6f2",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        440,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "azp9ackryWUpf0QR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1e9abcf-f641-45b9-98df-c834e1a052df",
              "name": "chatInput",
              "value": "={{ $json[\"body\"][\"chatInput\"] }}",
              "type": "string"
            },
            {
              "id": "86955101-fe97-4a9e-a9e8-18f0cd62cc7f",
              "name": "sessionId",
              "value": "={{ $json[\"body\"][\"sessionId\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6b20bc62-54cd-4c0e-8f0e-907b89eee0f1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        100
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "3b9c52d0-ef6f-4f93-85f6-b344cc14e457",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "e104e40e-6134-4825-a6f0-8a646d882662"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "id": "b9d6d7b2-8fc6-4568-9620-cdd5562560f3",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        472,
        100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        520
      ],
      "id": "a426bff4-60c6-42fb-800f-837292834f44",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "HnBCSzmAq2JAsllC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_knowledge_base",
        "toolDescription": "Retrieve context from our internal document store in Pinecone for answering user queries.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "Course Outlines"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        680,
        322.5
      ],
      "id": "187af72e-5a92-4759-b2b6-dc47e8861c18",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "QUljPSURQdtZRfTX",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=chats",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "id": "f8f23f0c-fb13-4a52-ac7b-23be36c677d7",
      "name": "Webhook1",
      "webhookId": "5b15f90d-fff7-4515-b5fc-62af59c2f3c1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1060,
        100
      ],
      "id": "eb3c4709-526f-42d8-9a56-1a3ebd94a00e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        320
      ],
      "id": "848394b3-3300-4074-8360-9dacb3e851d8",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db843e1f-29ca-468e-8308-7b4bfe0eeb3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f858c9f98c80b4cb332a22d99a499ed3abbd8ec4f6f19ed9687ce83ea83f600"
  },
  "id": "NJoE14mkrUeor2Fj",
  "tags": []
}